html {
	font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: 'Overpass', sans-serif;
	line-height: 1.2;
	text-align: center;
}

h1 {
	font-size: 4rem;

	@media #{$small} {
		font-size: 2.2rem;
	}
}
