.header {
	position: absolute;
	z-index: 10;
	top: 0;
	color: $text-color--inverted;
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: end;
	gap: 4rem;

	@media #{$small} {
		padding: 4rem 1.5rem 2rem 2rem;
	}

	@media #{$medium}, #{$large} {
		padding: 4rem 8rem;
	}

	.nav {
		display: flex;

		.user-buttons {
			display: flex;
			align-items: center;
			gap: 2rem;

			#login {
				&:hover {
					border-bottom: 2px solid $light-color;
				}
			}
		} // end user-buttons

		// NAV styling for medium and large width
		@media #{$medium}, #{$large} {
			justify-content: space-between;
			align-items: center;
		}

		// NAV styling for small width
		@media #{$small} {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
			flex-direction: column;
			background-color: $light-color;
			color: $text-color;
			text-align: center;
			border-radius: 7px;
			padding: 0;
			box-shadow: 0 10px 20px rgba($gray-color--dark, 0.4);
			max-height: 0;
			overflow: hidden;
			transition: max-height 700ms, padding 300ms, top 700ms;

			&--is-visible {
				top: 150px;
				padding: .5rem 1rem;
				max-height: 50em;
			}

			.user-buttons {
				flex-direction: column;
				margin: 2rem auto;
			}
		}
	} // end .nav

	.mobile-menu-icon {
		position: relative;
		justify-self: end;
		width: 2.5rem;
		height: 2.5rem;
		background: url("../images/icon-hamburger.svg") no-repeat center;

		@media #{$medium}, #{$large} {
			display: none;
		}

		&--close-x {
			background: url("../images/icon-close.svg") no-repeat center;
		}
	} // end .mobile-menu-icon
} // end .header
