html {
  font-family: 'Ubuntu', sans-serif; }

h1,
h2,
h3,
h4 {
  font-family: 'Overpass', sans-serif;
  line-height: 1.2;
  text-align: center; }

h1 {
  font-size: 4rem; }
  @media (max-width: 399px) {
    h1 {
      font-size: 2.2rem; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

li {
  list-style: none; }

img {
  width: 100%; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

.button {
  padding: .5rem;
  border: 1px solid white;
  border-radius: 2em;
  font-size: inherit;
  min-width: 120px;
  transition: background-color 300ms, color 300ms, border-color 300ms; }
  .button--primary {
    background-color: white;
    color: #ff525d; }
    .button--primary:hover {
      background-color: #ff7a85;
      border-color: #ff7a85;
      color: white; }
  .button--outline {
    background-color: transparent;
    color: white; }
    .button--outline:hover {
      background-color: white;
      color: #ff525d; }
  @media (max-width: 399px) {
    .button--sign-up {
      background: linear-gradient(90deg, #ff8f70, #ff3d54);
      color: white;
      padding: 1.5rem;
      min-width: 180px; } }

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  color: white;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: end;
  gap: 4rem; }
  @media (max-width: 399px) {
    .header {
      padding: 4rem 1.5rem 2rem 2rem; } }
  @media (min-width: 400px) and (max-width: 1440px), (min-width: 1441px) {
    .header {
      padding: 4rem 8rem; } }
  .header .nav {
    display: flex; }
    .header .nav__item span {
      position: relative;
      display: inline-block; }
      .header .nav__item span::after {
        position: absolute;
        content: "";
        width: 1rem;
        height: 1rem;
        transition: transform 700ms; }
    .header .nav__item > ul {
      max-height: 0;
      overflow: hidden;
      transition: max-height 700ms, padding 700ms; }
    .header .nav__item:hover > span::after, .header .nav__item:focus > span::after {
      transform: rotate(180deg); }
    .header .nav__item:hover > ul, .header .nav__item:focus > ul {
      max-height: 20em; }
    @media (max-width: 399px) {
      .header .nav {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        flex-direction: column;
        background-color: white;
        color: #4b5862;
        text-align: center;
        border-radius: 7px;
        padding: 0;
        box-shadow: 0 10px 20px rgba(75, 88, 98, 0.4);
        max-height: 0;
        overflow: hidden;
        transition: max-height 700ms, padding 300ms, top 700ms; }
        .header .nav-main--is-visible {
          top: 150px;
          padding: .5rem 1rem;
          max-height: 50em; }
        .header .nav > ul {
          border-bottom: 1px solid #c8c8cb;
          margin-top: 1rem;
          padding-bottom: 2rem; }
        .header .nav__item span {
          top: 1rem;
          right: -0.2em;
          padding: 1rem; }
          .header .nav__item span::after {
            background: url("../images/icon-arrow-dark.svg") no-repeat center; }
        .header .nav__item:hover > ul, .header .nav__item:focus > ul {
          padding: 1rem; }
        .header .nav__item > ul {
          background-color: #c8c8cb;
          border-radius: 7px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 700ms, padding 700ms; }
        .header .nav__sub-item {
          padding: 1rem; }
        .header .nav .user-buttons {
          display: flex;
          flex-direction: column; }
          .header .nav .user-buttons button,
          .header .nav .user-buttons a {
            margin: 1rem auto; }
          .header .nav .user-buttons a {
            padding-top: 1rem; } }
    @media (min-width: 400px) and (max-width: 1440px), (min-width: 1441px) {
      .header .nav {
        justify-content: space-between;
        align-items: center; }
        .header .nav > ul {
          display: flex;
          gap: 3em; }
        .header .nav__item {
          position: relative; }
          .header .nav__item > ul {
            padding: 0 4rem 0 1.5rem; }
          .header .nav__item:hover {
            border-bottom: 2px solid white; }
            .header .nav__item:hover span {
              font-weight: bold; }
            .header .nav__item:hover > ul {
              padding: 2rem 4rem 2rem 1.5rem; }
          .header .nav__item span::after {
            top: 0;
            right: -1.2rem;
            background: url("../images/icon-arrow-light.svg") no-repeat center; }
          .header .nav__item > ul {
            position: absolute;
            top: 2.5em;
            background-color: white;
            color: #4b5862;
            box-shadow: 0 10px 15px rgba(75, 88, 98, 0.4);
            transform: translateX(-1.5rem);
            border-radius: 5px;
            line-height: 2; }
        .header .nav__sub-item:hover {
          font-weight: bold; } }
  .header .user-buttons {
    display: flex;
    align-items: center;
    gap: 2rem; }
    .header .user-buttons #login:hover {
      border-bottom: 2px solid white; }

.mobile-menu-icon {
  position: relative;
  justify-self: end;
  width: 2.5rem;
  height: 2.5rem;
  background: url("../images/icon-hamburger.svg") no-repeat center; }
  @media (min-width: 400px) and (max-width: 1440px), (min-width: 1441px) {
    .mobile-menu-icon {
      display: none; } }
  .mobile-menu-icon--close-x {
    background: url("../images/icon-close.svg") no-repeat center; }

.footer {
  background-color: #25252d;
  color: #c8c8cb; }

.hero {
  position: relative;
  overflow: hidden;
  color: white;
  min-height: 600px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 100px; }
  @media (max-width: 399px) {
    .hero {
      background: linear-gradient(#ff8f70, #ff3d54); } }
  @media (min-width: 400px) and (max-width: 1440px), (min-width: 1441px) {
    .hero {
      background: linear-gradient(90deg, #ff8f70, #ff3d54); } }
  .hero__image {
    position: absolute;
    z-index: 0;
    transform: scale(2);
    left: 20%; }
  .hero__title, .hero__text, .hero__cta {
    z-index: 1; }
